body {
  font-family: "Ubuntu", sans-serif;
  color: white;
}

header {
  background: #648CFF;
}

header .navbar-brand {
  color: white;
}

header nav ul li a {
  color: white;
}

header .navbar-nav li a {
  color: #e1e1e1;
  font-weight: 500;
  font-size: 18px;
}

header .navbar-nav li a:hover {
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s ease;
}

header .navbar-nav #active {
  color: white !important;
}

header nav .social-icons i {
  color: white;
  font-size: 24px;
}

header nav .social-icons i:hover {
  color: #e1e1e1;
  font-size: 24px;
  transition: all 0.3s ease;
}

.section-start {
  margin-top: 10%;
  margin-bottom: 10%;
}

.bolded {
  font-weight: bold;
}

.uppercased {
  text-transform: uppercase;
}

.hero {
  color: white;
  background: url("/img/section_hero/background.png");
  background-size: 100% 100%;
}

.hero p:first-child {
  font-size: 60px;
}

.hero p {
  font-size: 18px;
}

.download-btn {
  background-color: #fc6a42;
  outline: none;
}

.features-btn {
  background-color: #4466c9;
}

#hero-down-btn {
  position: static;
  background: white;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s ease;
}

#hero-down-btn i {
  color: #ff5e62;
  margin: 0;
  position: relative;
  top: 13px;
  font-size: 14px;
  transition: all 0.3s ease;
}

#hero-down-btn:hover i {
  color: #ff5e62;
  top: 20px;
}

@media (min-width: 0) and (max-width: 1200px) {
  .hero p:first-child {
    font-size: 30px;
  }
  .hero p {
    font-size: 14px;
  }
}

.features .head {
  margin-bottom: 10%;
}

.features .head p:first-child {
  font-size: 36px;
  color: #648CFF;
}

.features .head p {
  font-size: 18px;
  color: #999;
}

.features .content h4 {
  color: #353854;
}

.features .content p {
  font-size: 13px;
  line-height: 2em;
  color: #aeaeae;
}

@media (min-width: 0) and (max-width: 1200px) {
  .features .head p:first-child {
    font-size: 30px;
  }
  .features .head p {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .features .row {
    margin-top: 10%;
  }
}

.downloads {
  background: #648CFF;
}

.downloads .name p {
  font-size: 36px;
}

.downloads .context p {
  font-size: 16px;
}

@media (min-width: 0) and (max-width: 992px) {
  .downloads .row {
    margin-top: 10%;
  }
  .downloads .row img {
    margin-top: 5%;
  }
}

@media (min-width: 0) and (max-width: 576px) {
  .downloads .name p {
    font-size: 24px;
  }
  .downloads .context p {
    font-size: 14px;
  }
}

.footer-section-start {
  padding-top: 5%;
  padding-bottom: 5%;
}

footer {
  background-color: #353854;
}

footer .footer-nav {
  padding-bottom: 5%;
  border-bottom: 1px solid #434769;
}

footer .site-name {
  font-size: 24px;
  font-weight: 800;
  color: #fc6a42;
}

footer .site-name span {
  color: #648cff;
}

footer .site-map ul {
  margin: 0;
  padding: 0;
}

footer .site-map ul li {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

footer .site-map ul li a {
  color: #b5b5c8;
}

footer .site-map ul li a:hover {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

footer .social-list {
  margin: 0;
  padding: 0;
}

footer .social-list li {
  display: inline-block;
  font-size: 20px;
  padding: 0 14px;
  transition: all 0.3s ease-in-out;
}

footer .social-list a {
  color: #b5b5c8;
}

footer .social-list a:hover {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

footer .copyright {
  color: #565b87;
  font-weight: 500;
  margin-top: 5%;
}

@media (min-width: 0) and (max-width: 992px) {
  footer .site-name {
    margin-bottom: 5%;
  }
  footer .site-map {
    margin-bottom: 5%;
  }
}

@media (min-width: 0) and (max-width: 576px) {
  footer .site-map ul li {
    display: block;
  }
  footer .site-map ul li a {
    margin: 0 !important;
  }
}

.reviews .head {
  margin-bottom: 10%;
}

.reviews .head p:first-child {
  font-size: 36px;
  color: #648CFF;
}

.reviews .head p {
  font-size: 18px;
  color: #999;
}

.reviews .content h4 {
  color: #353854;
}

.reviews .content p {
  font-size: 13px;
  line-height: 2em;
  color: #aeaeae;
}

@media (min-width: 0) and (max-width: 1200px) {
  .reviews .head p:first-child {
    font-size: 30px;
  }
  .reviews .head p {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .reviews .row {
    margin-top: 10%;
  }
}

.reviews .quote {
  padding: 28px;
}

.reviews .quote-autor {
  color: #353854;
  text-align: left;
  font-size: 16px;
}

.reviews .content {
  color: #353854;
}

.reviews span.open-quote {
  display: flex;
  flex-direction: row;
  padding: 0 2em 0 0;
}

.reviews span.close-quote {
  display: flex;
  flex-direction: row-reverse;
  padding: 2.2em 0.2em;
}

.reviews .open-quote:before {
  color: #648cff;
  content: open-quote;
  font-size: 7em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.reviews .quote p:not(.quote-autor) {
  font-size: 20px;
  text-align: left;
}

.reviews .close-quote:after {
  display: inline-block;
  color: #648cff;
  font-size: 7em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  content: close-quote;
}

#return-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #434769;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 10px;
  display: none;
  transition: all 0.3s ease;
}

#return-top-btn i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease;
}

#return-top-btn:hover {
  background: #2e3149;
}

#return-top-btn:hover i {
  color: #fff;
  top: 5px;
}
