<!-- Section: Downloads -->
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 align-self-center text-lg-left text-center">
            <div class="row">
                <div class="name col-12 col-lg-12">
                    <p class="bolded uppercased">How Download the app?</p>
                </div>
                <div class="context col-12 col-lg-8">
                    <p>Just download the app from the store. Simple, nice and user-friendly application of theweather. Only relevant and useful information.</p>
                </div>
                <div class="col-12 col-lg-12 mt-2">
                    <a href="#" class="mx-auto mr-2 mb-2"><img src="/img/section_download/apple_store.png"/></a>
                    <a href="#" class="mx-auto"><img src="/img/section_download/google_play.png"/></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-xl-4 align-items-end">
            <img class="img-fluid" src="/img/section_download/mobiles.png" alt="Mobile Application">
        </div>
    </div>
</div>