<!-- Section: Features -->
<div class="container section-start">
    <div class="head col-12 text-center">
        <p class="bolded uppercased">Perfect features</p>
        <p>Only necessary</p>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="row content text-lg-left text-center mx-auto">
                <div class="feature-icons col-12 col-lg-4 pb-2">
                    <img src="/img/section_features/usability_icon.png" alt="Usability">
                </div>
                <div class="col-12 col-lg-8">
                    <h4 class="bolded">Usability</h4>
                    <p>Sometimes the simplest things are the hardest to find. So we created a new line for everyday life</p>
                </div>
            </div>
        </div>
   
        <div class="col-12 col-lg-4">
            <div class="row content text-lg-left text-center mx-auto">
                <div class="feature-icons col-12 col-lg-4 pb-2">
                    <img src="/img/section_features/parallax_icon.png" alt="Parallax Effect">
                </div>
                <div class="col-12 col-lg-8">
                    <h4 class="bolded">Parallax Effect</h4>
                    <p>Sometimes the simplest things are the hardest to find. So we created a new line for everyday life</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="row content text-lg-left text-center mx-auto">
                <div class="feature-icons col-12 col-lg-4 pb-2">
                    <img src="/img/section_features/colors_icon.png" alt="Unlimites Colors">
                </div>
                <div class="col-12 col-lg-8">
                    <h4 class="bolded">Unlimites Colors</h4>
                    <p>Sometimes the simplest things are the hardest to find. So we created a new line for everyday life</p>
                </div>
            </div>
        </div> 
    </div>
</div>