<!-- Section: Footer -->
<div class="container footer-section-start">
    <div class="row footer-nav">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-lg-3 text-center text-lg-left">
                    <div class="site-name uppercased">Fun <span>Weather.</span></div>
                </div>
                <div class="col-12 col-lg-6 text-center">
                    <div class="site-map">
                        <ul>
                            <li><a href="#" class="mr-5 home-link">Home</a></li>
                            <li><a href="#" class="mr-5 features-link">Features</a></li>
                            <li><a href="#" class="mr-5 reviews-link">Reviews</a></li>
                            <li><a href="#" class="download-link">Download</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-3 text-center text-lg-right">
                        <ul class="social-list text-center">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center text-lg-right">© 2016 All rights reserved. Weather App Theme by Gravpix</div>
</div>