<!-- Section: Header -->
<div class="container pb-5">
    <nav class="navbar navbar-expand-md justify-content-center px-0">
        <a href="#" class="navbar-brand bolded uppercased mr-0">Fun Weather.</a> 
        <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-between align-items-center " id="collapsingNavbar2">
            <ul class="navbar-nav mx-lg-5 text-center nav-fill w-100" id="navigation-items">
                <li class="nav-item">
                    <a class="nav-link" id="hero" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="features" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="reviews" href="#">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="downloads" href="#">Downloads</a>
                </li>
            </ul>
            <ul class="social-icons nav navbar-nav flex-row justify-content-center flex-nowrap">
                <li class="nav-item"><a class="nav-link" href=""><i class="fab fa-facebook-f mr-3"></i></a></li>
                <li class="nav-item"><a class="nav-link" href=""><i class="fab fa-instagram mr-3"></i></a></li>
                <li class="nav-item"><a class="nav-link" href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>  
    </nav>
</div>