<!-- Section: Hero -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 align-self-center text-md-left text-center">
            <p class="bolded">Get the most fun </br> weather app</p>
            <p>Simple, nice and user-friendly application of the weather. Only userful information</p>
            <div class="hero-buttons pt-3 pb-5">
                <button class="download-btn btn btn-danger btn-lg bold mr-2">Download</button>
                <button class="features-btn btn btn-primary btn-lg bold">Features</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="img-fluid" src="/img/section_hero/mobile.png" alt="Mobile Application">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="d-flex justify-content-center mb-5">
                <a href="#" onclick="javascript:scrollDown();" id="hero-down-btn"><i class="fas fa-chevron-down"></i></a>
            </div>
        </div>
    </div>
</div>