<!-- Section: Reviews -->
<div class="container section-start">
    <div class="head col-12 text-center">
        <p class="bolded uppercased">What people are saying</p>
        <p>Reviews</p>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="quote">
                <span class="open-quote"></span>
                <p class="content">What art offers is space - a certain breathing room for the spirit. </p>
                <p class="quote-autor">John Updike</p>
                <span class="close-quote"></span>
            </div>
        </div>
    
        <div class="col-12 col-lg-6">
            <div class="quote">
                <span class="open-quote"></span>
                <p class="content">We do not see nature with our eyes, but with our understandings and our hearts. </p>
                <p class="quote-autor">William Hazlitt</p>
                <span class="close-quote"></span>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="quote">
                <span class="open-quote"></span>
                <p class="content">The only courage that matters is the kind that gets you from one moment to the next. </p>
                <p class="quote-autor">Mignon McLaughlin</p>
                <span class="close-quote"></span>
            </div>
        </div> 

        <div class="col-12 col-lg-6">
            <div class="quote">
                <span class="open-quote"></span>
                <p class="content">No man has a good enough memory to be a successful liar. </p>
                <p class="quote-autor">Abraham Lincoln</p>
                <span class="close-quote"></span>
            </div>
        </div> 
    </div>
</div>